[Unit]
Description= iotconnect c telemetry service, runs forever
After=network.target
Wants=network.target
StartLimitInterval=200
StartLimitBurst=5

[Service]
Type=simple
ExecStart=/usr/iotc-c/app/iotc/iotc-c-telemetry-demo /usr/iotc-c/local/config.json
Restart=always
RestartSec=30
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=default.target
